.car-item{
  display: inline-block;
  position: relative;
  transition: .3s;
  animation: up 0.4s;
}

.car-item.hidden, .car-item.hidden:hover{
  transform: scale(0);
}

.car-item.hidden.hidden-absolute, .car-item.hidden.hidden-absolute:hover{
  height: 0;
  width: 0;
}

.car-item:hover, .action i:hover{
  transform: scale(1.05);
}

.content{
  display: flex;
  min-width: 45rem;
  max-width: 45rem;
  background: var(--gray-light);
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.image{
  width: 8rem;
  height: 8rem;
  border-radius: 8rem;
}

.image img{
  object-fit: cover;
  border-radius: 50%;
}

.text p{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 1rem 2rem;
  color: var(--black);
}

.text small{
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  color: var(--black-light);
}

.text small span{
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.action {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  display: flex;
}

.action i{
  font-size: 2rem;
  transition: .1s;
  margin: 0.5rem;
  cursor: pointer;
}

.action i:first-child{
  color: var(--gray-dark);
}

.action i:first-child:hover{
  color: var(--black);
}

.action i:last-child{
  color: var(--secondary);
}

.action i:last-child:hover{
  color: var(--secondary-darker);
}

.modal-wrapper {
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 35%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: transparent;
  outline: 0;
}