:root{
  --primary: #93a9ff;
  --primary-light: #7b9dff;
  --primary-dark: #738eff;
  --secondary: #ff029b;
  --secondary-dark: #ee0089;
  --secondary-darker: #e60084;
  --secondary-light: #ff44a5;
  --secondary-lighter: #ff50ab;
  --white: #ffffff;
  --gray-lighter: #f2f4ff;
  --gray-light: #e2e7ff;
  --gray: #ccd4fb;
  --gray-dark: #3f4ec1;
  --black-light: #5c2eaa;
  --black: #411590;
  --black-dark: #330985;
  --yellow: #fbc968;
  --yellow-strong: #fcc049;
  
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-height: 700px){
  :root{
    font-size: 62.5%;
  }
}